
#content{
	text-align:center;
}
.bigbox2 {
	margin-top:0px;
	text-align:left;
	padding:20px;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	display:inline-block;
		height:500px;
	background-color:#70DBDB;
	border:5px solid #388E8E;
}
	
#leftblock{
    width:48%;
}
#rightblock{
	width:48%
}
#bigbox3{
	width:96%
}

.bigbox2 h1{
	color:#FFFFFF;
}
#leftblock p{
	width:90px;
	display:inline-block;
}
#rightblock p{
	width:130px;
	display:inline-block;
}